<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <!-- Mobile (Apple) Web App functionality-->
    <!--meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=yes, viewport-fit=cover"-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="To-Do">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='/apple-icons/apple-icon-180.png')}}"/>
    <link rel="apple-touch-icon" sizes="167x167" href="{{url_for('static', filename='/apple-icons/apple-icon-167.png')}}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static', filename='/apple-icons/apple-icon-152.png')}}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static', filename='/apple-icons/apple-icon-120.png')}}"/>
    <!-- Apple code to be added later
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-2048-2732.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-2732-2048.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-1668-2388.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-2388-1668.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-1668-2224.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-2224-1668.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-1536-2048.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-2048-1536.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-1242-2688.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-2688-1242.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-1125-2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-2436-1125.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-828-1792.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-1792-828.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-1242-2208.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-2208-1242.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-750-1334.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-1334-750.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-640-1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"/>
    <link rel="apple-touch-startup-image" href="/images/splashscreen/apple-splash-1136-640.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"/>
    -->
    <!--End Mobile Web App Functionality-->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!--fontpicker-->
    <link rel="stylesheet" 
    href="{{url_for('static', filename='fontpicker.css')}}"
    />
    <script src="{{url_for('static', filename='fontpicker.js')}}" 
    ></script>
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base.css')}}"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='icon.ico') }}"/>
    {% block style %}{% endblock %}

    <title>{% block title %}Home{% endblock %}</title>
  </head>

  <body>
    {% if user.is_authenticated %}
    <section class="template-information-section">
      <p id="background-color" class="template-information-section">{{user.background_color}}</p>
      <p id="text-color" class="template-information-section">{{user.text_color}}</p>
      <p id="navbar-text-color" class="template-information-section">{{user.navbar_text_color}}</p>
      <p id="navbar-highlight-color" class="template-information-section">{{user.navbar_highlight_color}}</p>
      <p id="navbar-background-color" class="template-information-section">{{user.navbar_background_color}}</p>
      <p id="button-text-color" class="template-information-section">{{user.button_text_color}}</p>
      <p id="confirm-button-color" class="template-information-section">{{user.confirm_button_color}}</p>
      <p id="delete-button-color" class="template-information-section">{{user.delete_button_color}}</p>
      <p id="cancel-button-color" class="template-information-section">{{user.cancel_button_color}}</p>
      <p id="font-family" class="template-information-section">{{user.font_family}}</p>
      <p id="font-style" class="template-information-section">{{user.font_style}}</p>
      <p id="font-weight" class="template-information-section">{{user.font_weight}}</p>
    </section>
    {% endif %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span id="navbar-icon" class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="Notes" href="/notes">Notes</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/boards" role="button">Boards</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/boards">Create</a>
              {% for board in user.boards %}
                <a class="dropdown-item" href="/boards/{{board.id}}">{{board.name}}</a>
              {% endfor %}
            </div>
          </li>

          <a class="nav-item nav-link" id="settings" href="/settings">Settings</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          <!--<a class="nav-item nav-link" id="ani" href="/ani">Bored?</a>-->
          {% else %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          <!--<a class="nav-item nav-link" id="ani" href="/ani">Bored?</a>-->
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% elif category == "success" %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span class="close-message" aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}


    <div id="container">
      {% block content %} {% endblock %}
        <div align="center" class="filter-out-background">
          <div align="center" class="destroy-item" id="destroy-item-div">
              <h3 class="destroy-item" id="destroy-item-heading"></h3>
              <p class="destroy-item" id="destroy-item-message">This action will <b>Permanently Delete</b> all contained information. Proceed with Caution.</p>
              <button align="center" class="btn btn-primary destroy-item" id="destroy-item-confirm">Delete</button>
              <button align="center" class="btn btn-secondary destroy-item" id="destroy-item-cancel" onclick="cancelDeleteConfirmation();">Cancel</button>
          </div>
        </div>
      </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='base.js') }}"
    ></script>
  </body>
</html>
