<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Tasks">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    {% block style %}{% endblock %}

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="Notes" href="/notes">Notes</a>
          <a class="nav-item nav-link" id="Boards" href="/boards">Boards</a>
          <a class="nav-item nav-link" id="settings" href="/settings">Account Settings</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          <!--<a class="nav-item nav-link" id="ani" href="/ani">Bored?</a>-->
          {% else %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          <!--<a class="nav-item nav-link" id="ani" href="/ani">Bored?</a>-->
          {% endif %}
        </div>
      </div>
    </nav>



    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    
    <div id="container">
    {% block content %} {% endblock %}
      <div align="center" class="filter-out-background">
        <div align="center" class="destroy-item" id="destroy-item-div">
            <h3 class="destroy-item" id="destroy-item-heading"></h3>
            <p class="destroy-item" id="destroy-item-message">This action will <b>Permanently Delete</b> all contained information. Proceed with Caution.</p>
            <button align="center" class="btn btn-primary destroy-item" id="destroy-item-confirm">Delete</button>
            <button align="center" class="btn btn-secondary destroy-item" id="destroy-item-cancel" onclick="cancelDeleteConfirmation();">Cancel</button>
        </div>
      </div>
    </div>
    <div align="center" id="color-selection-div" class="color-selection">
      <input type="color" class="color-selection" value="#9a9da0"> Navbar Text<br>
      <input type="color" class="color-selection" value="#343a40"> Navbar Background<br>
      <input type="color" class="color-selection" value="#ffffff"> Site Background<br>
      <input type="color" class="color-selection" value="#000000"> Text Color<br>
      <input type="color" class="color-selection" value="#007bff"> Confirm Button Color<br>
      <input type="color" class="color-selection" value="#6c757d"> Cancel Button Color<br>
      <input type="color" class="color-selection" value="#ff0000"> Delete Button Color<br>
      </div>
    
  </body>
</html>
