{% extends "base.html" %}{% block title %} {{ board }} {% endblock%}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'boardView.css') }}" />
{% endblock %}

{% block content %}
{% for boardObject in user.boards%}
{% if boardObject.name == board %}
<div class="board-title" id="board-title">

{% if edit_title == False %}
<h1 align="center", 
id="board-title", 
class="title"
ondblclick="{}">
{{ boardObject.name }}
</h1>

{% else %}
<form action="/boards/{{ board }}/change-title" method="post">

<input
class="form-control",
id="board-title"
align="center",
type="text"
>
<button 
type="submit"

</form>
{% endif %}

</div>



<button 
class="btn btn-primary"
id="createTask"
>
Create New Task
</button>

<button 
onclick="deleteBoard({{ boardObject.id }})" 
id="deleteBoard" 
class="btn btn-primary" 
href="/boards" 
>
Delete Board
</button>
   

<div 
class="board_content"
id="envelop_content">
{% for cat in boardObject.categories %}

<div class="category_container" name="{{ cat.name }}">
    <h3 class="category_name">{{ cat.name }}</h3>
    <ul class="task_list">
    {% for task in cat.tasks%}
    <li class="task_item">
        <a class="edit_task_link" href="/boards/{{boardObject.name}}/{{task.name}}">
            <span class="task_text">{{task.name}}</span>
        </a>
    </li>
    {% endfor %}
    </ul>
</div>
    
{% endfor %}
</div> <!-- End board content-->




{% endif %}

{% endfor %}

{% endblock %}