{% extends "base.html" %}{% block title %} {{ board }} {% endblock%}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'boardView.css') }}" />
<script
  type="text/javascript"
  src="{{ url_for('static', filename='boardview.js')}}"
 ></script>
{% endblock %}

{% block content %}<!--Actual body content-->
{% for boardObject in user.boards%} 
{% if boardObject.name == board %}<!--filter to find correct board information-->
{% set boardname = boardObject.name|string %} <!--useless I believe-->
<div class="board-title" id="board-title-div">

<h1 align="center", 
id="board-title", 
class="title"
ondblclick="editTitleDisplay()"
name="board-title">
{{ boardname }}, cats: {{ boardObject.category_num }}
</h1>



<div id="change-name-div" align="center">

<input
name = "board-title"
class="form-control new-board-title"
id="board-title-input"
align="center"
type="text"
value="{{boardObject.name}}"
>

<button 
onclick="updateTitle({{ boardObject.id }})"
class="btn btn-primary"
id="board-title"
>
Save
</button>

<button
onclick="cancelDisplayChange()"
class="btn btn-secondary"
id="board-title"
>
Cancel
</button>
</div>
</div>


<div align="center">
<button 
class="btn btn-primary"
id="create-category-button"
onclick="showCategoryCreation()"
>
Create New Category
</button>

<button 
onclick="deleteBoard({{ boardObject.id }})" 
id="deleteBoard" 
class="btn btn-secondary" 
href="/boards" 
>
Delete Board
</button>
</div>

<div id="create-category-overlay" class="new-category-menu">
    <div align="center" id="new-task-buttons">
        <input 
        type="text"
        placeholder="Enter Title for New Category" 
        class="form-control new-category-menu" 
        id="categoryTitleBox" 
        name="category-title" />

        <button 
        class="new-category-menu btn btn-primary" 
        id="add-category-button" 
        onclick="saveNewCategory({{ boardObject.id }})">
            Save
        </button>
        <button class="new-category-menu btn btn-secondary" id="cancel-add-category-button" onclick="cancelNewCategoryDisplay()">
            Cancel
        </button>
    </div>
</div>





<div 
class="board_content"
id="envelop_content" >

{% for cat in boardObject.categories %}

<div class="category_container" name="{{ cat.name }}">
    <h3 align="center" class="category_name {{cat.id}}" ondblclick="editCategoryDisplay('{{cat.id}}')", id="category-title-{{cat.id}} " >{{ cat.name }}</h3>

    <input 
    align="center"
    type="text"
    class="form-control new-category-title {{cat.id}}"
    id="new-category-name-{{cat.id}}"
    value="{{cat.name}}">





    <ul class="task_list">
    {% for task in cat.tasks%}
    {% if task.completed == False %}
    <li align="center" class="task-item-incompleted">
        <a class="edit_task_link" href="/boards/{{boardObject.name}}/{{cat.name}}/{{task.id}}">
            <span class="incompleted-task-text">{{task.name}}</span>
        </a>
    </li>
    {% endif %}
    {% endfor %}

    {% for task in cat.tasks%}
    {% if task.completed == True %}
    <li align="center" class="task-item-completed">
        <a class="edit_task_link" href="/boards/{{boardObject.name}}/{{cat.name}}/{{task.id}}">
            <span class="completed-task-text">{{task.name}}</span>
        </a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
    <div id="new-task-container-div" class="new-task-container" align="center">
    <button
    class="btn btn-primary"
    id="createTask"
    onclick="showTaskCreation({{ boardObject.id }}, {{ cat.id }} )"
    >
    Create New Task
    </button>
    </div>

    <div id="create-task-overlay" class="new-task-menu">
        <div align="center" id="new-task-buttons">
            
            <input 
            type="text"
            placeholder="Name" 
            class="form-control new-task-menu" 
            id="taskTitleBox" 
            name="task-title" />
            <input 
            type="text"
            placeholder="Description" 
            class="form-control new-task-menu" 
            id="taskDescriptionBox" 
            name="task-description" />
            
            <input
            type="datetime-local"
            class="form-control new-task-menu"
            id="taskDueDateBox"
            name="due-date"
            />
    
            <button class="new-task-menu btn btn-primary" id="add-task-button">
                Save
            </button>
            <button class="new-task-menu btn btn-secondary" id="cancel-add-task-button" onclick="cancelNewTaskDisplay()">
                Cancel
            </button>
        </div>
    </div><!-- End create-task container -->
</div><!-- End category container -->
    
{% endfor %}

</div> <!-- End board content div-->




{% endif %} <!--End board search-->

{% endfor %}<!--End board search-->

{% endblock %}<!--End body addition template-->