{% extends "base.html" %} {% block title %}Boards{% endblock %} 

{% block style%}
<link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}" />
<script
  type="text/javascript"
  src="{{ url_for('static', filename='home.js')}}"
 ></script>
{% endblock %}

{% block content%}
<h1 align="center">Welcome</h1>

<h5 align="center">This page is currently incomplete and will function as a dashboard in the future. 
 <br> Please feel free to click around using the NavBar to investigate the features I have implemented thusfar. </h3>

<input type="color" value="#9a9da0">Navbar Foreground
<input type="color" value="#343a40">Navbar Background
<input type="color" value="#ffffff">Site Background
<input type="color" value="#000000">Text Color
<input type="color" value="">Confirm Button Color
<input type="color" value="">Cancel Button Color
<input type="color" value="">Delete Button Color
{% endblock %}