{% extends "base.html" %} {% block title %}Welcome{% endblock %} 

{% block style%}
<link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}" />
<!--script
  type="text/javascript"
  src="{{ url_for('static', filename='home.js')}}"
 ></script-->
{% endblock %}

{% block content%}
<h1 align="center">Welcome {{user.first_name!}}</h1>

<h5 align="center">This page is currently incomplete and will function as a dashboard in the future. 
 <br> Please feel free to click around using the NavBar to investigate the features I have implemented thusfar. 
 <br> Nearly All aspects of this site are editable, simply double click and change it. </h3>
{% endblock %}