{% extends "base.html" %} {% block title %}Settings{% endblock %} 

{% block style%}
<link rel="stylesheet" href="{{ url_for('static', filename = 'settings.css') }}" />
<script
  type="text/javascript"
  src="{{ url_for('static', filename='settings.js')}}"
 ></script>
{% endblock %}

{% block content %}
<h2 align="center">Account Settings</h2>
<ul class="list-group list-group-flush" id="settings-list">
  <li align="center" class="list-group-item" style="word-wrap: break-word;">
    <h4>Name</h4>
  </li>
  <li align="center" class="list-group-item" style="word-wrap: break-word;">
    <h4>Email</h4>
  </li>
  <li align="center" class="list-group-item" style="word-wrap: break-word;">
    <h4>Password</h4>
  </li>
</ul>

<h2 align="center">Appearance</h2>
<ul class="list-group list-group-flush" id="settings-list">
  <li align="center" class="list-group-item" style="word-wrap: break-word;">
    <h4>Color</h4>
    <button align="center" onclick="toggleAppearance();" class="btn btn-primary">Show Menu</button>
    <div align="center" id="color-selection-div" class="color-selection">
      <input type="color" class="color-selection" value="#9a9da0"> Navbar Text<br>
      <input type="color" class="color-selection" value="#343a40"> Navbar Background<br>
      <input type="color" class="color-selection" value="#ffffff"> Site Background<br>
      <input type="color" class="color-selection" value="#000000"> Text Color<br>
      <input type="color" class="color-selection" value="#007bff"> Confirm Button Color<br>
      <input type="color" class="color-selection" value="#6c757d"> Cancel Button Color<br>
      <input type="color" class="color-selection" value="#ff0000"> Delete Button Color<br>
    </div>
  </li>
</ul>



{% endblock %}