{% extends "base.html" %}{% block title %} {% for taskObject in current_user.tasks%}
{% if task|int == taskObject.id %}{{ taskObject.name }} {% endif %}{% endfor %}{% endblock%}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'taskView.css') }}" />
<script
  type="text/javascript"
  src="{{ url_for('static', filename='taskview.js')}}"
 ></script>
{% endblock %}

{% block content %}
    {% for categoryObject in current_user.categories %}
    {% if categoryObject.name == category%}
    {% for taskObject in categoryObject.tasks%}
    {% if task|int == taskObject.id %}
    <h1 align="center" class="title", id="task-name-title">{{ taskObject.name }}</h1>
    
    <h3 align="center">Due: {{taskObject.due_date}}</h3>
    <h4 align="center">{{taskObject.description}}</h4>

    <h5 align="center"><a href="/boards/{{ board }}">Return to Board</a></h5>

<div align="center" class="task-complete" >

    {% if taskObject.completed == True %}
    <h4 id="task-status">Task Complete</h4>
    <input
    align="center"
    name="check-box"
    type="checkbox"
    aria-label="Complete"
    id="task-completed-checkbox"
    class="task-view checkbox form-control"
    onclick="toggleTaskCompletion({{ taskObject.id }}, {{ taskObject.board }})"
    checked
    > 
    {% else %}
    <h4 id="task-status">Task Incomplete</h4>
    <input
    onshow="showDueDate('{{ taskObject.due_date }}');"
    type="checkbox"
    name="check-box"
    aria-label="Complete"
    id="task-completed-checkbox"
    class="task-view checkbox form-control"
    onclick="toggleTaskCompletion({{ taskObject.id }}, {{ taskObject.board }})"
    > 
    
    <h4 id="time-remaining"></h4>
    <img id="due-date-frame" src="" onerror="showDueDate('{{ taskObject.due_date }}')"></img><!--Nifty Trick to run script automatically here-->
    
    <div id="focus-timer-div" align="center">
    <label 
    for="focus-timer-selection"
    id="focus-timer-label">
    Focus Timer
    </label>
    <select id="focus-timer-selection" class="form-control" >
        <option value="1">1 min</option>
        <option value="15">15 min</option>
        <option value="30" selected>30 min</option>
        <option value="45">45 min</option>
        <option value="60">60 min</option>
    </select>
    <button onclick="startTimer()" class="form-control btn btn-primary" id="focus-timer-button">Start Timer</button>
    <h5 id="focus-timer"></h5>
    </div>
    
    

    {% endif %}<!--End -->    
</div>
    {% endif %}<!--End check if this is the right  task-->
    {% endfor %} <!--End Task item iterator-->
    {% endif %}<!--End check category-->
    {% endfor %}<!--End category iterator-->
{% endblock %}