{% extends "base.html" %}{% block title %} {% for taskObject in current_user.tasks%}
{% if task|int == taskObject.id %}{{ taskObject.name }} {% endif %}{% endfor %}{% endblock%}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'taskView.css') }}" />
<script
  type="text/javascript"
  src="{{ url_for('static', filename='taskview.js')}}"
 ></script>
{% endblock %}

{% block content %}
    {% for categoryObject in current_user.categories %}
    {% if categoryObject.name == category%}
    {% for taskObject in categoryObject.tasks%}
    {% if task|int == taskObject.id %}
    <h1 
    align="center" 
    class="show-task task-title" 
    id="task-title"
    ondblclick='editTaskElement(".task-title")'>{{ taskObject.name }}</h1>

    <div id="change-name-div" class="update-task task-title" align="center">

        <input
        align="center"
        name = "task-title"
        class="form-control update-task task-title"
        id="title-input"
        type="text"
        value="{{taskObject.name}}"
        >
        
        <button 
        onclick='updateTask({{ taskObject.id }}, "title-input");'
        class="btn btn-primary task-title update-task"
        id="submit-title"
        >
        Save
        </button>
        
        <button
        onclick='cancelEditTask(".task-title")'
        class="btn btn-secondary task-title update-task"
        id="cancel-title"
        >
        Cancel
        </button>
        </div>
    
    <h3 
    id="task-due-date" 
    class="show-task task-due" 
    align="center"
    ondblclick='setDefaultDate("{{taskObject.due_date}}"); editTaskElement(".task-due");'>Due: {{taskObject.due_date}}</h3>
    <div id="change-duedate-div" align="center" class="update-task task-due">
        <input 
        id="due-date-input" 
        class="form-control update-task task-due" 
        type="datetime-local" 
        >
        <button 
        onclick='updateTask({{ taskObject.id }}, "due-date-input");'
        class="btn btn-primary task-due update-task"
        id="submit-new-task-name"
        >
        Save
        </button>
        
        <button
        onclick='cancelEditTask(".task-due")'
        class="btn btn-secondary task-due update-task"
        id="cancel-new-task-name"
        >
        Cancel
        </button>
    </div>



    <h4 
    id="task-description" 
    class="show-task task-description" 
    align="center"
    ondblclick='editTaskElement(".task-description")'>{{taskObject.description}}</h4>
    <div id="change-description-div" align="center" class="update-task task-description">
        <span class="task-description update-task">
            <textarea 
            name="" 
            class="form-control update-task task-description" 
            id="description-input"
            >{{taskObject.description}}</textarea>
        </span>
        <button 
        onclick='updateTask({{ taskObject.id }}, "description-input")'
        class="btn btn-primary task-description update-task"
        id="submit-new-task-name"
        >
        Save
        </button>
        
        <button
        onclick='cancelEditTask(".task-description")'
        class="btn btn-secondary task-description update-task"
        id="cancel-new-task-name"
        >
        Cancel
        </button>
    </div>

<div align="center" id="main-task-buttons-div">
    <a href="/boards/{{ board }}"><button align="center" id="return-to-board" class="form-control btn btn-primary">Return to Board</button></a>
    <button align="center"
    id="delete-task" 
    class="form-control btn btn-secondary"
    onclick="deleteTask({{ taskObject.id }}, '{{ board }}');"
    >Delete Task</button>
</div>

<div align="center" class="task-complete" >

    {% if taskObject.completed == True %}
    <h4 id="task-status">Task Complete</h4>
    <input
    align="center"
    name="check-box"
    type="checkbox"
    aria-label="Complete"
    id="task-completed-checkbox"
    class="task-view checkbox form-control"
    onclick="toggleTaskCompletion({{ taskObject.id }}, {{ taskObject.board }})"
    checked
    >
     
    {% else %}<!--Task is not complete- show time remaining and focus timer-->
    <h4 id="task-status">Task Incomplete</h4>
    <input
    onshow="showDueDate('{{ taskObject.due_date }}');"
    type="checkbox"
    name="check-box"
    aria-label="Complete"
    id="task-completed-checkbox"
    class="task-view checkbox form-control"
    onclick="toggleTaskCompletion({{ taskObject.id }}, {{ taskObject.board }})"
    > 
    <img id="due-date-frame" src="" onerror="showDueDate('{{ taskObject.due_date }}')"/><!--Nifty Trick to run script automatically here-->
    <h4 id="time-remaining"></h4>
    
    <div id="focus-timer-div" align="center">
    <label 
    for="focus-timer-selection"
    id="focus-timer-label">
    Focus Timer
    </label>
    <select id="focus-timer-selection" class="form-control" >
        <option value="1">1 min</option>
        <option value="15">15 min</option>
        <option value="30" selected>30 min</option>
        <option value="45">45 min</option>
        <option value="60">60 min</option>
    </select>
    <button onclick="startTimer()" class="form-control btn btn-primary" id="focus-timer-button">Start Timer</button>
    <h5 id="focus-timer"></h5>
    </div>

    {% endif %}<!--End check if task complete-->

    <div align="center" id="subtask">
        <h3>Subtasks</h3>
        <ul class="subtask list-group list-group-flush" id="subtask-list">
            {% for subtask in taskObject.subtasks%}
            <li class="subtask-item">
            {% if subtask.completed == True %}
                <input id="s{{subtask.id}}" type="checkbox" checked />
                <h3 class="subtask-title {{subtask.id}} complete">{{ subtask.name }}</h3>
            {% else %}
                <input id="s{{subtask.id}}" type="checkbox" />
                <h3 class="subtask-title {{subtask.id}}">{{ subtask.name }} {% if subtask.due_date != None %}<img src="{{url_for('static', filename = 'clock.svg')}}" id="clock-svg" /> {{subtask.due_date}} {% endif %}</h3>
                <p class="subtask-description {{subtask.id}}">{{ subtask.description }}</p>
            {% endif %}
            <button type="button" class="close s{{ subtask.id }}" id="delete-subtask" onClick="deleteSubtask({{ subtask.id }})">
                <span class="delete-button" aria-hidden="true">&times;</span>
            </button>    
            </li>
            {% endfor %}
        </ul>
        <div align="center">
            <button class="btn btn-primary" onclick="showSubtaskForm();" id="show-form-button">Create New Subtask</button>
        </div>
        <form method="post" class="new-subtask" id="subtask-create-form">
        <input name ='subtask-name' type="text" class="create-new form-control" placeholder="Name">
        <textarea name ='subtask-description' class="create-new form-control" placeholder="Description"></textarea>
        <div align="center">
        <input type="checkbox" class="form-control" id="subtask-duedate-check" onclick="subTaskDueOptions();">Add Due Date
        </div>
        <input name="subtask-due" type="datetime-local" class="form-control" id="subtask-due-input">

        <div align="center">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="button" class="btn btn-secondary" onclick="hideSubtaskForm();">Cancel</button>
        </div>

        </form>
    </div>     
</div>
    {% endif %}<!--End check if this is the right  task-->
    {% endfor %} <!--End Task item iterator-->
    {% endif %}<!--End check category-->
    {% endfor %}<!--End category iterator-->
{% endblock %}