:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;

}

body {
    margin:0;
    padding: 0;
    color: black;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0.05rem;
}

body::-webkit-scrollbar-track {
    background: #000C1D;
}

body::-webkit-scrollbar-thumb {
    background: #004312;
}


main {
    margin-left: 5rem;
    /*padding: 0.05rem; */
    position:absolute;
    display: grid;
    grid-template-columns: repeat(12, 1fr);


}

canvas {
    width: 100%;
    height: 100%;
}


.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;

}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 200ms ease;

}

.nav-item {
    width:100%;
}


/**/
.nav-item:last-child{
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.navbar:hover{
    width: 16rem;

}

.navbar:hover .link-text{
    display:block;
}


.garbage {
    color: rgba(0,0,0,0);
    grid-column: 1 / span 12;

    font-size: 80px;
}