:root{
    --color-picker-display: none;
    --background-color: #ffffff;
    --text-color: #000000;
    --navbar-text-color: #9a9da0;
    --navbar-highlight-color: #ffffff;
    --navbar-background-color: #343a40;
    --button-text-color: #ffffff;
    --confirm-button-color: #007bff;
    --cancel-button-color: #6c757d;
    --delete-button-color: #ff0000;
}

div.destroy-item{
    vertical-align: center;
    position: absolute;
    z-index: 5;
    width: 60%;
    max-height: 100%;
    top: 30vh;
    left: 20vw;
    background-color: rgba(255,255,255,1);
    border-radius: 4px;
    border: 2px;
    border-color: rgba(100,100,100,1);
    padding: 2%;
    
}

.filter-out-background{
    z-index: 4;
    background-color: rgba(0,123,255,0.75);
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

button#destroy-item-confirm{
    background-color: var(--delete-button-color)!important;
    border-color: var(--delete-button-color)!important;
}



.dropdown-menu{
    background-color: var(--navbar-background-color);
    min-width: 1rem;
    width: fit-content;
    max-width: 15rem;
}

.dropdown-item{
    color: var(--navbar-text-color);
    text-align: left;
    padding: .25rem 1.5rem;
}

.dropdown-item:hover{
    background: var(--navbar-background-color);
    color: var(--navbar-highlight-color);
}

.navbar{
    background-color: var(--navbar-background-color)!important;
}

h1{
    color: var(--text-color)!important;
}

h2{
    color: var(--text-color)!important;
}

h3{
    color: var(--text-color)!important;
}

h4{
    color: var(--text-color)!important;
}

h5{
    color: var(--text-color)!important;
}

p{
    color: var(--text-color)!important;
}

button.btn.btn-primary{
    background-color: var(--confirm-button-color)!important;
    border-color: var(--confirm-button-color)!important;
    color: var(--button-text-color)!important;
}

button.btn.btn-secondary{
    background-color: var(--cancel-button-color)!important;
    border-color: var(--cancel-button-color)!important;
    color: var(--button-text-color)!important;
}

