:root{

    /* COLOR SETTINGS */
    --background-color: #ffffff;
    --text-color: #000000;
    --navbar-text-color: #9a9da0;
    --navbar-highlight-color: #ffffff;
    --navbar-background-color: #343a40;
    --button-text-color: #ffffff;
    --confirm-button-color: #007bff;
    --cancel-button-color: #6c757d;
    --delete-button-color: #ff0000;
    --delete-screen-filter: rgba(255,0,0,0.7);
}

div.destroy-item{
    vertical-align: center;
    position: absolute;
    z-index: 5;
    width: 60%;
    max-height: 100%;
    top: 30vh;
    left: 20vw;
    background-color: var(--background-color);
    border-radius: 4px;
    border: 2px;
    border-color: var(--cancel-button-color);
    padding: 2%;
    
}

.filter-out-background{
    z-index: 4;
    background-color: var(--delete-screen-filter);
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

button#destroy-item-confirm{
    background-color: var(--delete-button-color)!important;
    border-color: var(--delete-button-color)!important;
}



.dropdown-menu{
    background-color: var(--navbar-background-color);
    min-width: 1rem;
    width: fit-content;
    max-width: 15rem;
    border: none;
    padding: 0rem!important;
    margin: 0rem!important;
}

.dropdown-item{
    color: var(--navbar-text-color);
    text-align: left;
}

@media (max-width: 992px) {
    /*Collapsed Navbar*/
    .dropdown-item{
        max-width: fit-content;
        text-align: left;
        padding-left: 0rem!important;
    }
}

@media (min-width: 992px){
    /*Expanded Navbar*/
    .dropdown-item{
        padding: 0.4rem 0.5rem 0.4rem 0.5rem !important;
        width: auto;
    }
}

.dropdown-item:hover{
    background: var(--navbar-background-color);
    color: var(--navbar-highlight-color);
}

.navbar{
    background-color: var(--navbar-background-color)!important;
}

h1{
    color: var(--text-color)!important;
}

h2{
    color: var(--text-color)!important;
}

h3{
    color: var(--text-color)!important;
}

h4{
    color: var(--text-color)!important;
}

h5{
    color: var(--text-color)!important;
}

p{
    color: var(--text-color)!important;
}

button.btn.btn-primary{
    background-color: var(--confirm-button-color)!important;
    border-color: var(--confirm-button-color)!important;
    color: var(--button-text-color)!important;
}

button.btn.btn-secondary{
    background-color: var(--cancel-button-color)!important;
    border-color: var(--cancel-button-color)!important;
    color: var(--button-text-color)!important;
}

