body {
    /* This is in the template  contains:
    navbar, 
    the flashed messages, 
    the content container,
    and various scripts*/
    width: 100%;
    height: 100vh;
}

#container {
    /* This is the base templates subdiv within the body*/
    width: 100%;
    height: 100%;
}

div#board-title-div{
    align-items: center;
    display:block;
    width:100%;
    min-width: 100%;
}

:root{
    --show-title: block;
    --show-input-box: None; /*toggles to inline*/
    --show-changename-button: None;
}


h1#board-title{
    color:black;
    display: var(--show-title);
}

h1#board-title:hover{
    color: #007bff;
    text-decoration: underline;
}

input#board-title-input{
    max-width: 25%;
    display:var(--show-input-box);
    vertical-align: center;
}
button#board-title{
    display: var(--show-changename-button);
    vertical-align: center;
    padding: 0.25em;
    margin: 0;
    align-self: center;
}

.board_content { 
    /*
    This is all of the board information besides the title 
    */
    width: 100%;
    position: relative;
    min-height: 90vh;
    gap: 2% 4%;
    background-color: none; 
}

@media screen and (max-width: 800px) {
    .board_content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 800px) {
    .board_content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.category_container{
    background-color: red;
    border-radius: 1em;
    min-height: 30em;
    padding: 1%;
    margin: 1%;
}


#create-task-overlay{
    position: fixed;
    width: 80%;
    height: 80%;
    left: 10%;
    
    background-color: rgba(255, 0, 0, 0.1);
    z-index: 3;
    display: none;
}
#create-category-overlay{
    position: fixed;
    width: 80%;
    height: 80%;
    left: 10%;
    
    background-color: rgba(0, 0, 255, 0.1);
    z-index: 2;
    display: none;
}

#categoryTitleBox{
    max-width: 60%;
}

#taskTitleBox{
    max-width: 60%;
}

#taskDescriptionBox{
    max-width: 60%;
}

#taskDueDateBox{
    max-width: 60%;
}

label.new-task-menu {
    max-width: 60%;
}

li.task-item-completed{
    text-decoration: line-through;
}

li.task-item-incompleted{
    text-decoration: none;
}

ul.task_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

