body {
    /* This is in the template  contains:
    navbar, 
    the flashed messages, 
    the content container,
    and various scripts*/
    width: 100%;
    height: 80vh;
}

#container {
    /* This is the base templates subdiv within the body*/
    width: 100%;
    height: 100%;
}

div#board-title-div{
    align-items: center;
    display:block;
    width:100%;
    min-width: 100%;
    padding: 0.5rem;
}

:root{
    --show-title: block;
    --show-input-box: None; /*toggles to inline*/
    --show-changename-button: None;
    --category-background-color: var(--background-color);
}

input{
    text-align: center;
}

h1#board-title{
    display: var(--show-title);
}

h1#board-title:hover{
    text-decoration: underline;
}

input#board-title-input{
    max-width: 25%;
    display:var(--show-input-box);
    vertical-align: center;
}
button#board-title{
    display: var(--show-changename-button);
    vertical-align: center;
    padding: 0.4rem;
    margin: 0;
}

.board_content { 
    /*
    This is all of the board information besides the title 
    */
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 25rem;
    min-width: 100%;
    overflow-x: auto;
    min-height: 100%;
    gap: 0% 1%;
    background-color: none; 
    margin-bottom: 1%;
    padding: 0.5% 1%;
    
}



div.category-container{
    justify-content: center;
    grid-row: 1;
    background-color: var(--background-color);
    border-radius: 1.5rem;
    height: 99.4%;
    width: 100%;
    max-height: none;
    padding: 0.25rem;
    margin: 0.25rem;
    border-color: var(--navbar-background-color);
    border-width: .2rem;
    border-style: solid;
}



#create-task-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: var(--create-screen-filter);
    z-index: 4;
    display: none;
}
#create-category-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: var(--create-screen-filter);
    z-index: 4;
    display: none;
}

div#new-category-menu{
    vertical-align: center;
    position: absolute;
    z-index: 5;
    width: 60%;
    max-height: 100%;
    top: 30vh;
    left: 20vw;
    background-color: var(--background-color)!important;
    border: 2px;
    border-radius: .5rem;
    border-color: black;
    padding: 2%;
}

div#new-task-menu{
    vertical-align: center;
    position: absolute;
    z-index: 5;
    width: 60%;
    max-height: 100%;
    top: 30vh;
    left: 20vw;
    background-color: var(--background-color)!important;
    border: 2px;
    border-radius: .5rem;
    border-color: black;
    padding: 2%;
}

#taskDueDateBox , #taskDescriptionBox, #taskTitleBox, #categoryTitleBox{
    max-width: 60%;
}

label.new-task-menu {
    max-width: 60%;
}

li.task-item-completed{
    text-decoration: line-through;
    background-color: var(--category-background-color);
}

li.task-item-incompleted{
    text-decoration: none;
    background-color: var(--category-background-color);
}

ul.task_list{
    list-style-type: none;
    margin: 0.5rem;
    padding: 0;
    font-size: 1.3rem;
    word-wrap:break-word;
    max-width: 100%;
    background-color: var(--category-background-color);
    overflow-y: auto;
    min-height: fit-content;
}

.incompleted-task-text, .completed-task-text {
    background-color: var(--category-background-color);
}

.edit-cat-name{
    background-color: inherit;
}

.edit-category{
    display: none;
}

input.edit-category{
    max-width: 95%;
}

.category_name, .new-task-container{
    background-color: inherit;
    width: fit-content;
    height: fit-content;
}

.category_name:hover{
    text-decoration: underline;
}


img#clock-svg{
    width: 1.3rem;
}

a.edit_task_link{
    color:black;
}