:root{
    --color-picker-display: none;
    --name-display: none;
    --email-display: none;
    --password-display: none;
}

div#first-name-div{
    display: var(--name-display);
}

div#email-display-div{
    display: var(--email-display);
}

div#password-display-div{
    display: var(--password-display);
}

input:not([type=color]){
    min-width: fit-content;
    width: 15rem;
    text-align: center;
}

div.container{
    display: grid;
    margin: 0.5rem 0rem;
    grid-template-columns: auto auto;
    row-gap: .5rem;
    column-gap: .25rem;
    text-align: left;
    width: fit-content;
}





div.color-selection{
    display: var(--color-picker-display);
    margin: 1rem 0rem;
}


.color-selection-container input{
    float: right;
}