/*All Task Content*/

:root{
    --focus-timer-display: none;
}

div.all-task-content{
    /*Sort the Task info and subtask info to each half of the screen*/
    display: grid;
}

@media only screen and (max-width:992px){
    div.all-task-content{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width:992px){
    div.all-task-content{
        grid-template-columns: 1fr 1fr;
    }
}

input, textarea, select, h4 {
    text-align: center;
}

/*Task Section*/

.update-task{
    /*By Default hide the task updating features*/
    display:none;
}

div.update-task.task-title, div.update-task.task-due, div.update-task.task-description {
    width: 100%;
}

input.update-task.task-title, input.update-task.task-due, textarea.update-task.taskdescription{
    vertical-align: center;
}

input.update-task.task-title, input.update-task.task-due {
    width: 60%;
}

div.checkbox-section input.checkbox {
    max-width: 1rem;
    max-height: 1rem;
    display: inline-block;
}

div.checkbox-section h4#task-status{
    display: inline-block;
}

div#main-task-buttons-div button{
    display: inline-block;
    width: 14rem;
}

div#due-date-info{
    display: none;
}

h4#time-remaining{
    text-align: center;
}

div#focus-timer-div{
    margin: auto;
    width: 28rem;
    display: var(--focus-timer-display);
}

button#focus-timer-display{
    align-self: center;
    margin: .8rem;
}

h5#focus-timer {
    background-color: rgba(0, 0, 0, 0);
    font-size: xx-large;
}

/*Subtask Section*/


form#subtask-create-form{
    display: none;
}

img.clock-svg{
    max-width: 1.3rem;
}

.edit-subtask{
    display: none;
}

div.contain-subtasks input, div.contain-subtasks textarea{
    width: 80%;
}

input#subtask-due-input{
    display: none;
}

input.toggle-complete-box{
    max-width: 1rem;
    max-height: 1rem;
    display: inline-block;
    margin-top: 0.6rem;
    vertical-align: top;
}

h4.subtask-title{
    display: inline-block;
    width: 92%;
}

div.edit-subtask.subtask-title{
    width: 92%;
}


span.delete-button{
    display: inline-block;
    max-width: 1rem;
}

h5.subtask-duedate{
    text-align: center;
}

div.edit-subtask.subtask-duedate{
    width: 100%;
    text-align: center;
}

div.edit-subtask.subtask-duedate input{
    width: 20rem;
    margin: auto;
}

p.subtask-description{
    width: 100%;
}

div.edit-subtask.subtask-description{
    width: 100%;
}

div.edit-subtask.subtask-description textarea{
    width: 100%;
    text-align: left;
}