.update-task{
    display:none;
}

input.update-task{
    vertical-align: center;
    max-width: 60%;
}
textarea.update-task{
    max-width: 80%;
}

div.update-task{
    display: block;
    align-items: center;
    width: 100%;
}





div#task-complete{
    align-items: center;
}

div#focus-timer-div{
    max-width: 15rem;
}
label#focus-timer-label{
    font-size: 2rem;
}
select#focus-timer-selection{
    text-align: center;
}
input#task-completed-checkbox{
    display: inline-block;
    max-width: 1.3rem;
    max-height: 1.3rem;
}
h4#task-status{
    display: inline-block;
}






